body {
    font-family: Verdana, sans-serif;
    margin: 20px;
}

.layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

#activity-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width:500px;
}

.overview {
    flex: 1;
}

#activity-form label {
    margin-top: 10px;
}

#activity-form button {
    margin-top: 20px;
}

#activity-form input, #activity-form textarea,
#activity-form select,#activity-form label,
#activity-form button {
    padding: 10px;
}

#tabel {
    width: 100%;
    border-collapse: collapse;
}

#tabel th, #tabel td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabel th {
    background: #f2f2f2;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav a {
    margin-right: 15px;
    text-decoration: none;
    color: black;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
}

.nav a:hover {
    text-decoration: underline;
}

.auth button,
#userBar button {
    padding: 6px 10px;
    cursor: pointer;
}

#userBar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.chart-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }
}